*.log
*.log.lck

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Eclipse project files and output folder
.classpath
.settings
.project
bin
